.idea
.virtualenv
.env
*.pyc
*.err
build/
dist/
e2j2.egg-info/
examples/nginx_vhost_config.conf
examples/envvar-example
examples/json-example
examples/jsonfile-example
examples/base64-example
examples/consul-example
examples/list-example
examples/file-example
examples/twopass-example
examples/vault-example
examples/dns-example
examples/watch
.coverage
.envrc
.direnv
