// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define( 'DB_NAME', '{{ WORDPRESS.database.name }}' );

/** MySQL database username */
define( 'DB_USER', '{{ WORDPRESS.database.user }}' );

/** MySQL database password */
define( 'DB_PASSWORD', '{{ WORDPRESS.database.password }}' );

/** MySQL hostname */
define( 'DB_HOST', '{{ WORDPRESS.database.host }}' );

